# Python
.venv/
__pycache__
dist
*.egg-info
build
.eggs
.tox
_build
build
_site
.mypy_cache
.pytest_cache
.ruff_cache

# Node
node_modules/

# IDEs
.vscode/*
!.vscode/*.sample
!.vscode/extensions.json

# Sphinx
.doctrees

# Mac
.DS_Store